[Unit]
Description=Not A Radio
After=network.target
Wants=network.target

[Service]
ExecStart=/bin/sh -c 'cd /home/pi/notaradio/src; exec python3 notaradio.py -f /boot/notaradio.ini'

[Install]
WantedBy=multi-user.target
